@media (max-width: 768px) {
    #content {
        display: block !important;
    }
    #info {
        width: 100% !important;
        margin-bottom: 40px !important;
    }
    #korabbi {
        width: 100% !important;
    }
    #members {
        width: 100% !important;
    }
    th {
        font-size: 20px !important;
    }
    td {
        font-size: 14px !important;
    }
    #members > table {
        width: 100% !important;
    }
}

body::-webkit-scrollbar-track, 
#korabbi::-webkit-scrollbar-track,
#nyeremenyek::-webkit-scrollbar-track,
#main::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgb(53, 53, 53);
}

body::-webkit-scrollbar, 
#korabbi::-webkit-scrollbar,
#nyeremenyek::-webkit-scrollbar,
#main::-webkit-scrollbar {
	width: 8px;
	background-color: rgb(75, 75, 75);
}

body::-webkit-scrollbar-thumb, 
#korabbi::-webkit-scrollbar-thumb,
#nyeremenyek::-webkit-scrollbar-thumb,
#main::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(114, 215, 255);;
}

.box > h2 {
    cursor: pointer;
    width: 80%;
    margin: 0 auto 10px auto;
}

body {
    background-color: rgb(0, 15, 29);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.5px;
    color: rgb(207, 207, 207);
}
#header {
    text-align: center;
}
#content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#info {
    text-align: center;
    width: 40%;
    float: left;
}
#members {
    width: 50%;
}
#members > table {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    max-height: 75vh;
    width: 80%;
    margin: auto;
    color: rgb(207, 207, 207);
}
th {
    color: white;
    text-transform: uppercase;
    font-size: 25px;
}
td, th {
    width: 10%;
    height: 35px;
    border: 1px solid black;
}
#korabbi tr:nth-child(even), #main tr:nth-child(even){
    background-color: rgb(75, 75, 75);
}
#korabbi tr:nth-child(odd), #main tr:nth-child(odd){
    background-color: rgb(0, 0, 0);
}
#eselyszam, #emberszam, #time {
    color: rgb(114, 215, 255);
}
#korabbi {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    height: 50vh;
    width: 80%;
    margin: auto;
    color: rgb(207, 207, 207);
}
#jelenlegisorsolas {
    text-align: center;
}

#searchbar {
    width: 200px;
    height: 20px;
    font-size: 16px;
    margin: 15px auto;
    display: block;
    background-color: rgb(53, 53, 53);
    border: 1px solid rgb(207, 207, 207);
    color: rgb(114, 215, 255);
}